/* 
font-family: 'Inconsolata', monospace;
font-family: 'Roboto Mono', monospace;
*/

.Inconsolata{
    font-family: 'Inconsolata', monospace;
}
.RobotoMono{
    font-family: 'Roboto Mono', monospace;
}